<!DOCTYPE html>
<html lang="en">
    {%load static%}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'app/index.css' %}">
  <title>Video Background</title>
  <style>
   
    
  </style>
</head>
<body>
  <nav>
    <ul>
      <li><a href="#">About</a></li>
      <li><a href="#">Portfolio</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
  <video autoplay loop muted id="video-background">
    <source src="{% static 'app/checkout.mp4' %}" type="video/mp4">
    <!-- Add additional video formats if necessary -->
    Your browser does not support the video tag.
  </video>

  <div id="video-content">
    <h1 data-text= "Let's Download !!!">
      Let's Download !!!</h1>
      
    
    
    
  </div>
  <div class="search-box">
        <h1>Enter your URL down </h1>
        <form action = "..">
        <button class="btn-search"><i class="fas fa-search"></i></button>
        <input type="text" class="input-search" placeholder="Type to Search...">
        <button class="button-53" role="submit">Button 53</button>
        <button class="button-52" role="submit">Button 53</button>
      </form>
      </div>
</body>
</html>
